section
  section
    h2.title TEMPLATE LITERALS
    h2.title.fragment &
    h2.title.fragment TAGGED TEMPLATES

  section
    h3.title Concatenação de variáveis

  section
    pre
      code.javascript.
        // pré ES6
        const jedi = {
          name: 'Yoda',
          lightsaberColor: 'verde',
        }

        console.log(
          'O ' + jedi.name ' possui um sabre de luz '
               + jedi.lightsaberColor
        );
        // O Yoda possui um sabre de luz verde

  section(data-background="img/yoda-green.gif")

  section
    pre
      code.javascript.
        // pós ES6
        const jedi = {
          name: 'Yoda',
          lightsaberColor: 'verde',
        }

        console.log(
          `O ${jedi.name} possui um sabre de luz
              ${jedi.lightsaberColor}`
        );
        // O Yoda possui um sabre de luz verde

  section
    h4 TAGGED TEMPLATE
    pre
      code.javascript.
        function comeToTheDarkSide(strings, ...values) {
          console.log(strings);
          // ["O ", " possui um sabre de luz ", ""]
          console.log(values);
          // ["Yoda", "verde"]

          return `O ${values[0]} agora é do lado negro da força`;
        }
        const jedi = {
          name: 'Yoda',
          lightsaberColor: 'verde',
        }
        console.log(
          comeToTheDarkSide `O ${jedi.name} possui um sabre de luz
            ${jedi.lightsaberColor}`
        );
        // O Yoda agora é do lado negro da força

  section(data-background="img/yoda-darkside.gif")
