section
  section
    h2.title CLASSES

  section
    h3.title Sintatic sugar

  section
    pre
      code.javascript.
        //pré ES6
        function Hero(name, power) {
          this.name = name;
          this.power = power;
        }

        Hero.prototype.usePower = function() {
          console.log(
            `${this.name} utilizou o seu poder ${this.power}`
          )
        }

        const hulk = new Hero('Hulk', 'Smash');
        const mercurio = new Hero('Mercúrio', 'Velocidade');

        hulk.usePower();
        // Hulk utilizou o seu poder Smash

        mercurio.usePower();
        // Mercúrio utilizou o seu poder Velocidade

  section
    pre
      code.javascript.
        //pós ES6
        class Character {
          constructor(name, power) {
            this.name = name;
            this.power = power;
          }
        }

        class Hero extends Character {
          constructor(name, power) {
            super(name, power);
            this.type = 'Herói';
          }

          usePower() {
            console.log(
              `O ${this.type} ${this.name} utilizou o seu poder
                ${this.power}`
            )
          }
        }

        const hulk = new Hero('Hulk', 'Smash');
        const mercurio = new Hero('Mercúrio', 'Velocidade');

        hulk.usePower();
        // O Herói Hulk utilizou o seu poder Smash

        mercurio.usePower();
        // O Herói Mercúrio utilizou o seu poder Smash

  section(data-background="img/hulk-smash.gif")
