section
  section
    h3.title SPREAD & REST OPERATORS

  section
    h4.title Spread

    pre
      code.javascript.
        const heroes = ['Hulk', 'Thor', 'Iron Man'];

        console.log(heroes);
        // ['Hulk', 'Thor', 'Iron Man']

        console.log(...heroes);
        // Hulk Thor Iron Man

  section
    pre
      code.javascript.
        const heroes = ['Hulk', 'Thor', 'Iron Man'];
        const vilans = ['Thanos', 'Mandarim', 'Apocalipse'];

        const heroesAndVilans = [...heroes, 'Ultron', ...vilans];

        console.log(heroesAndVilans);
        // ["Hulk", "Thor", "Iron Man", "Ultron", "Thanos", "Mandarim",
        //  "Apocalipse"]

  section
    pre
      code.javascript.
        function logVilans(vilan1, vilan2, vilan3) {
          console.log(
            `${vilan1}, ${vilan2}, ${vilan3}, são vilões da Marvel`
          );
        }

        const vilans = ['Thanos', 'Mandarim', 'Apocalipse'];

        logVilans(...vilans);
        // Thanos, Mandarim, Apocalipse, são vilões da Marvel

  section
    h4.title Rest

    pre
      code.javascript.
        function logVilans(hero, ...vilans) {
          console.log(
            `${vilans.join(', ')}, são vilões da Marvel e o
              ${hero} é o herói`
          );
        }

        logVilans('Hulk', 'Thanos', 'Mandarim', 'Apocalipse');
        // Thanos, Mandarim, Apocalipse, são vilões da Marvel
        //  e o Hulk é o herói
